name: ansible-flow
on:
  push:
    paths:
      - "src/scripts/**/*.py"
      - "src/scripts/**/*.js"
  workflow_dispatch:
defaults:
  run:
    working-directory: .
jobs:
  prep:
    runs-on: ubuntu-latest
    # needs: [prep]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install openvpn
        run: |
          sudo apt update
          sudo apt install -y openvpn openvpn-systemd-resolved
      - name: connect to vpn
        uses: "FoundrySpatial/github-openvpn-connect-action@main"
        with:
          config_file: ./.github/workflows/client.ovpn
          username: ${{ secrets.OVPN_USERNAME }}
          password: ${{ secrets.OVPN_PASSWORD }}
          ca_cert: ${{ secrets.OVPN_CA_CERT }}
          client_key: ${{ secrets.OVPN_CLIENT_KEY }}
          client_cert: ${{ secrets.OVPN_CLIENT_CERT }}
      - name: see where you are
        run: |
          pwd
          uname -a
      - name: run ansible playbook
        uses: "dawidd6/action-ansible-playbook@v2"
        with:
          playbook: playbooks/helloWorld.yml
          directory: ./
          key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: notification
        env:
          slackurl: https://hooks.slack.com/services/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
        run: |
          echo curl -X POST -H 'Content-type: application/json' --data '{"text":"setup completed"}' $slackurl
