name: ansible-flow
on:
  push:
    paths:
      - "src/scripts/**/*.py"
      - "src/scripts/**/*.js"
  workflow_dispatch:
defaults:
  run:
    working-directory: .
jobs:
  prep:
    runs-on: ubuntu-latest
    # needs: [prep]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install openvpn
        run: |
          sudo apt update
          sudo apt install -y openvpn openvpn-systemd-resolved
      - name: connect to vpn
        uses: "FoundrySpatial/github-openvpn-connect-action@main"
        with:
          config_file: ./.github/workflows/client.ovpn
          username: ${{ secrets.OVPN_USERNAME }}
          password: ${{ secrets.OVPN_PASSWORD }}
          ca_cert: ${{ secrets.OVPN_CA_CERT }}
          client_key: ${{ secrets.OVPN_CLIENT_KEY }}
          client_cert: ${{ secrets.OVPN_CLIENT_CERT }}
          ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh_pub: ${{ secrets.SSH_PUBLIC_KEY }}
          ssh_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
      - name: see where you are
        run: |
          pwd
          uname -a
          ping  -c 1 -w 2 10.10.6.8
          echo "ssh setup"
          mkdir ~/.ssh
          echo "$ssh_key" > ~/.ssh/id_rsa
          echo "$ssh_pub" > ~/.ssh/id_rsa.pub
          echo "$ssh_hosts" > ~/.ssh/known_hosts
          chmod 600 ~/.ssh ~/.ssh/*
          ssh ansible@10.10.6.8
      - name: run ansible playbook
        uses: "dawidd6/action-ansible-playbook@v2"
        with:
          directory: ./
          playbook: playbooks/helloWorld.yml
          inventory: |
            [all]
            10.10.6.8 # skeena
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
      - name: notification
        env:
          slackurl: https://hooks.slack.com/services/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
        run: |
          echo curl -X POST -H 'Content-type: application/json' --data '{"text":"setup completed"}' $slackurl
